.block-panel {
  .block-panel-title {
    padding: 20px 40px 15px 30px;
    //color: #646777;
    color: #fff;
    font-size: 13px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #70bbfd;
    //background-color: #fafbfe;
  }
  .block-panel-body {
    border: 1px solid #f2f4f7;
    padding: 15px 35px 20px 30px;
    border-top: none;
  }
}
