.block-element-edit {
  padding: 0 10px;

  .substrate-element-title {
    font-size: 13px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #646777;
    background-color: #fafbfe;
    padding: 25px 15px;
    margin-bottom: 25px;
  }

}
