.bucket-dashboard {

  .bucket-head {
    .bucket-info {
     ul.cells-wrap {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        height: 63px;
         li {
           position: relative;
           .sub-head {
             font-size: 13px;
             font-weight: 700;
             line-height: 18px;
             color: #646777;
             margin-bottom: 10px;
           }
           &::after {
             content: '';
             position: absolute;
             top: -13px;
             width: 1.5px;
             height: 63px;
             background: #f2f4f7;
             left: -45%;
           }
         }
      }
    }
  }

  .bucket-body {
    background: none;
    border-radius: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
  }

  .bucket-wrap {
    background: #fff;
    padding: 1.25rem;
    border-radius: 5px;

    .tabs__wrap {
      min-width: 100%;

      .tab-content {
        & > div {
          overflow-x: unset !important;
        }
      }

      .react-swipeable-view-container {
        & > div {
          overflow: unset !important;
        }
      }
    }

    button {
      margin-bottom: 0;
    }

    .bucket-grid-wrap {

      width: 100%;
      //min-height: 40vh;
      min-height: 154px;

      .row-hint-wrap {
        position: relative;
        width: 200px;
        margin: 0 auto;
      }

      .topbox {
        height: 300px;
        background: #c8e0ec;
      }

      .table-data {
        position: relative;
        width: 100%;
        //height: 100%;

        .header {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: stretch;
          width: 100%;
          border-bottom: 2px solid #eff1f5;;
          .hcol {
            display: flex;
            justify-content: space-between;
            padding: 0 7px;
            height: 50px;
            align-items: center;
            cursor: pointer;
            width: 100%;
            color: #646777;
            font-weight: 700;
            &:first-child {
              flex: 0 0 10%;
              margin-left: 10px;
            }
            &:nth-child(2) {
              flex: 0 0 25%;
            }
            &:last-child {
              flex: 0 0 7%;
            }
          }
        }

        ul.main-row-wrap {
          list-style: none;
          padding: 0;
          margin: 0;
          top: 32px;
          width: 100%;
          li.main-row {
            width: 100%;


            .content {
              width: 100%;
              height: 0;
              opacity:0;
              transition: height 0.4s;
            }

            &:nth-of-type(odd) {
                background-color: #fafbfe;
            }



          }

          li.open {

            .content {
              height: 100%;
              opacity: 1;

              ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                border-bottom: 1px solid #eff1f5;;
                &:first-child {
                  border-top: 1px solid #eff1f5;;
                }
                &:last-child {
                  border-bottom: none;
                }

                li {
                  width: 100%;
                  min-height: 40px;
                }
              }
            }
          }

          .heading, .sub-heading {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            width: 100%;
            height: 53px;
            cursor: pointer;
            transition: background 0.5s;

            .col {
              display: flex;
              align-items: center;
              width: 100%;
              padding: 0 10px;
              height: 53px;
              color: #646777;
              font-size: 13px;
              font-weight: 400;
              border-right: 1px solid #eff1f5;
              min-width: 0;

              p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              button {
                padding: 6px;
                font-size: 14px;
                svg {
                  margin: 0
                }
                &.single-btn {
                  margin-left: 42px;
                }
              }

              &:first-child {
                flex: 0 0 10%;
                margin-left: 10px
              }
              &:nth-child(2) {
                flex: 0 0 25%;
              }
              &:last-child {
                border-right: none;
                flex: 0 0 7%;
              }
            }
          }
        }
      }
    }

  }

}



