.seating-list-component {

  table {
    font-size: 13px !important;
  }

  input {
    border: 1px solid #f2f4f7;
    color: #646777;
    padding: 5px 10px;
    font-size: 12px;
    height: 32px;
    -webkit-transition: border .3s;
    transition: border .3s;
    background: transparent
  }
}
