.smart-area-wrap {

  .card-body {
    padding: 0;

    .alert__content {
      padding-top: 0;
      padding-bottom: 0
    }

    .checkbox-btn {
      width: 200px;
    }

    textarea {
      top: 1px !important;
      line-height: 27px;
      letter-spacing: 2.05px !important;
      border: 1px solid #f2f4f7 !important;
      color: #646777;
      padding: 7.2px 8.5px !important;
    }

    strong {
      font-weight: 500 !important;
      &:after {
        position: absolute;
        width: 0.3px;
        height: 22px;
        top: 0;
        right: -0.3px;
        content: '';
        background: hsla(208, 97%, 62%, 0.76);
        border-radius: 0 35px 35px 0;
      }
      &:before {
        position: absolute;
        width: 0.3px;
        height: 22px;
        top: 0;
        left: -0.3px;
        content: '';
        background: hsla(208, 97%, 62%, 0.76);
        border-radius: 35px 0 0 35px;
      }
    }

    .mentions {
      margin: 1em 0;
    }

    .mentions--singleLine {
      .mentions__control {
        background-color: #fff;
        font-size: 14;
        font-weight: normal;

      }

      .mentions__higlighter {
        overflow: 'hidden'
      }

      .mentions__input {
        padding: 1px;
        border: 2px inset;
      }
    }

    .mentions--multiLine {

      .mentions__highlighter {
        padding: 9px;
      }

      .mentions__input {
        padding: 9px;
        min-height: 63px;
        outline: 0;
        border: 0;
      }
    }


    .mentions__suggestions__list {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.15);
      font-size: 14;
    }

    .mentions__suggestions__item {
      padding: 5px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .mentions__suggestions__item--focused {
      background-color: #cee4e5;
    }

    .mentions__mention {

      font-size: 13px;
      font-weight: 500;
      color: #646777;
    }

    ul {
      background-color: white;
      font-size: 13px;

      .first-elem {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }

      .list-item {
        padding: 5px 15px;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        &.focused {
          background-color: #fafbfe;
        }
      }
    }

    .date-picker {
      margin-top: -15.5px;
      margin-left: 1px;
    }

    .hint-label {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 13px;
      padding: 3px 10px;
      margin-left: 5px;
      float: right;
      &.selected {
        background: #e7e2e2;
      }
      &.not-selected {
        background: #4ce1b6;
      }
    }

  }
}
